.mere{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img{
    width: 40px;
}

.loginContainer{
    display: flex;
    flex-direction: column;
    width: clamp(300px, 50%, 500px);
    border: 1px solid black;
    box-shadow: 2px 2px 25px gainsboro;
    background-color: white;
}

.titleAuth{
    display: flex;
    justify-content: center;
    width: 92%;
    text-align: center;
}

.titleAuth h1{
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
}

.inputs form{
    display: flex;
    flex-direction: column;
    padding: 2rem 0rem;
    gap: 1rem;
    align-items: center;
}

.inputs form input{
    border: 1px solid black;
    padding: 0.7rem;
    width: 85%;
}

.buttonLogin{
    padding: 1rem;
    width: 92%;
    background-color: black;
    color: white;
    border: 1px solid black;
}

button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.register{
    text-align: center;
    padding: 1rem;
}

.register a{
    color: blue;
}

.register a:hover{
    cursor: pointer;
    text-decoration: underline ;
}