.heroContainer{
    display: flex;
    width: 100%;
    height: 87vh;
    gap: 4%;
}

.leftHero{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 1rem;
}

.leftHero > div{
    display: flex;
    gap: 4px;
}

.leftHero button{
    border: 1px solid black;
    height: 2.5rem;
}

.leftHero button:first-child:hover{
    color: black;
    background-color: white;
    transition: 0.5s ease-in-out;
}

.leftHero button:first-child {
    background-color: black;
    width: 10rem;
}

.leftHero button:first-child > a {
    color: white;
    font-weight: 400;
}

.leftHero button:first-child > a:hover {
    color: black;
}

.leftHero button:nth-child(2)
{
    background-color: white;
    color: black;
    width: 8rem;
}

.leftHero button:nth-child(2) > a
{
    font-weight: 400;
}

.leftHero button:nth-child(2) > a:hover
{
    font-weight: 700;
}


.leftHero h2{
    font-size: 3.3rem;
}

.leftHero p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
    padding-bottom: 0.3rem;
}

.avisHero{
    padding-top: 16%;
}

.avisHero img{
    width: 140px;
}

.rightHero{
    background-color: #ffffff;
    border-radius: 8px;
    width: 48%;
}

.custom1{
    color: #DF9900;
}

.custom2{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #DF9900;
}